{% extends 'base_admin.html' %}
{% block title %}View Customer{% endblock %}

{% block content %}

<!-- Centered Dashboard title -->
<div class="d-flex justify-content-center mb-4">
    <div class="activity-header-box">
        <h1 class="admin-dashboard-title">View Customer</h1>
    </div>
</div>

<div class="row g-4">
    <div class="col-12">

        
        <!-- Search bar -->
        <form method="get" class="admin-search mb-3">
            <div class="input-group">
                <span class="input-group-text admin-search-icon">🔍</span>
                <input
                    type="text"
                    class="form-control admin-search-input"
                    name="q"
                    placeholder="Search for user"
                    value="{{ q or '' }}">
            </div>
        </form>

        <!-- User list card -->
        <div class="admin-list-card">
            <div class="admin-list-card-header">
                Main Info:
            </div>
            
            <div class="admin-list-table-wrap">
                <table class="table admin-list-table mb-0">
                    <thead>
                        <tr>
                            <th>Customer name</th>
                            <th>Contact Person</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Website</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in customers %}
                        <tr>
                            <td>{{ c.customer_name }}</td>
                            <td>{{ c.contact_person }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.phone }}</td>
                            <td>{{ c.address }}</td>
                            <td>{{ c.website }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"href="{{ url_for('employee_customer_detail', customer_id=c.id) }}">Details</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
