{% extends "base_manager.html" %}
{% block title %}View Customer{% endblock %}

{% block content %}

<div class="container-xl mt-4">


<!-- Centered Dashboard title -->
<div class="d-flex justify-content-center mb-4">
    <div class="activity-header-box">
        <h1 class="admin-dashboard-title">View Customer</h1>
    </div>
</div>

    </div>

<!-- Search bar -->
        <form method="get" class="admin-search mb-3">
            <div class="input-group">
                <span class="input-group-text admin-search-icon">🔍</span>
                <input
                    type="text"
                    class="form-control admin-search-input"
                    name="q"
                    placeholder="Search for customer"
                    value="{{ q or '' }}"
                >
            </div>
        </form>
<div class="d-flex flex-column gap-4"> 
    <div class="row g-4">
        <!-- Main info -->
        <div class="row g-4">
    <div class="col-md-6">
      <div class="activity-card">
        <div class="activity-card-header">Customers with the least contact</div>

        <div class="activity-card-body">
          <div class="emp-table">
            <div class="emp-head">
              <div class="emp-col name">Name</div>
              <div class="emp-col num">Haven't responded in</div>
              <div class="emp-col num">Last contact</div>
            </div>

            {% for e in stats.employee_list %}
              <div class="emp-row">
                <div class="emp-col name">{{ e.name }}</div>
                <div class="emp-col num">{{ e.haventresp }}</div>
                <div class="emp-col num">{{ e.lastcont }}</div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
        </div>
    </div>
</div>   


{% endblock %}
